body {
  font-family: "Roboto";
}
.logout {
  text-decoration: none;
  color: red;
}
.logout:hover {
  color: red;
  font-weight: bold;
}
.dashboard {
  display: flex;
}
.navbar-brand {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-left: 2px solid black;
}
.navbar-brand-2 {
  text-decoration: underline;
}
.userInfo {
  display: flex;
  justify-content: start;
}
.userInfo_icon {
  margin-right: 5px;
  font-size: 1.7em;
}
.dashboard-sidebar {
  width: 25vw;
  padding-left: 10px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}
.sidebar-list_item {
  margin: 5px 0;
  padding: 10px;
}
.fas {
  margin-right: 7px;
}
.sidebar-list_item.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 2px solid black;
}
.sidebar-list_item a {
  text-decoration: none;
  color: black;
}
.dashboard_menu {
  display: none;
}
.hidden {
  display: none;
}
.mobile_sidebar {
  position: fixed;
  background-color: white;
  z-index: 2;
  width: 40vw;
  height: 100vh;
  top: 50px;
}
.close_btn {
  display: flex;
  justify-content: end;
  color: red;
  font-size: 2rem;
  margin-right: 20px;
}
.dashboard-main {
  width: 75vw;
  height: 93vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.dashboard-main_nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  height: 3rem;
  padding: 0 10px;
  justify-content: space-between;
}
.main-nav_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav_tools {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-arrow-left {
  font-size: 1.4rem;
}
.fa-bars,
.fa-bell {
  padding: 0 10px;
}
.dashboard-main_content,
.card {
  margin-top: 10px;
}
.main-content_info {
  font-size: 0.8rem;
}
.student-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile-img_container {
  text-align: center;
  width: 15vw;
}
.profile-img_container img {
  width: 100%;
  border-radius: 50%;
}
.student-id,
.student-name,
.student-email {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  /* font-size: 1.3rem; */
  font-weight: bold;
}
.id-label,
.name-label,
.email-label {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 630px) {
  .dashboard-sidebar {
    display: none;
  }
  .dashboard_menu {
    display: block;
  }
  .dashboard-main {
    width: 100%;
  }
}
