body {
  font-family: "Roboto";
}
.appointment {
  display: flex;
}
.logout {
  text-decoration: none;
  color: red;
}
.logout:hover {
  color: red;
  font-weight: bold;
}
.navbar-brand {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-left: 2px solid black;
}
.navbar-brand-2 {
  text-decoration: underline;
}
.dashboard_menu {
  display: none;
}
.hidden {
  display: none;
}
.mobile_sidebar {
  position: fixed;
  background-color: white;
  width: 40vw;
  z-index: 2;
  height: 100vh;
  font-size: 1.3rem;
  top: 50px;
}
.close_btn {
  display: flex;
  justify-content: end;
  color: red;
  font-size: 2rem;
  margin-right: 20px;
}
.userInfo {
  display: flex;
  justify-content: start;
}
.userInfo_icon {
  margin-right: 5px;
  font-size: 1.7em;
}
.dashboard-sidebar {
  width: 25vw;
  padding-left: 10px;
}
.profile-header_container {
  display: flex;
  justify-content: space-between;
}
.profile-header {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.student-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile-img_container {
  text-align: center;
  width: 15vw;
}
.profile-img_container img {
  width: 100%;
  border-radius: 50%;
}
.student-id,
.student-name,
.student-email {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  /* font-size: 1.3rem; */
  font-weight: bold;
}
.id-label,
.name-label,
.email-label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.4);
}
.appointment-sidebar {
  width: 20vw;
  padding-left: 10px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}
.sidebar-list_item {
  margin: 5px 0;
  padding: 10px;
}
.fas {
  margin-right: 7px;
}
.sidebar-list_item.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 2px solid black;
}
.sidebar-list_item a {
  text-decoration: none;
  color: black;
}
.dashboard-main_nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  height: 3rem;
  padding: 0 10px;
  justify-content: space-between;
}
.main-nav_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav_tools {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-arrow-left {
  font-size: 1.4rem;
}
.fa-bars,
.fa-bell {
  padding: 0 10px;
}
.main-content_info {
  font-size: 0.8rem;
}
.card_form-detail {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.form-header {
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.1);
  height: 85vh;
}
.card-body {
  position: relative;
  top: 0;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.1);
}
.dashboard_menu {
  display: none;
}
.alert {
  display: inline;
  position: absolute !important;
  padding: 8px !important;
  top: -20px;
  /* left: 400px; */
  background-color: rgba(255, 0, 0, 0.7) !important;
  color: white !important;
}
@media screen and (max-width: 630px) {
  .appointment-sidebar {
    display: none;
  }
  .dashboard_menu {
    display: block;
  }
  .card-container {
    width: 100vw;
  }
}
