.footer {
  padding: 10px;
  color: orange;
  /* background: rgba(255, 166, 0, 0.722); */
  background: rgb(48, 47, 47);
}

.footer p {
  font-size: 0.8rem;
  text-align: center;
}
.footer-info,
.footer-social-icons {
  margin: 0 10px;
}
.footer-info h4,
.footer-social-icons h4 {
  font-weight: bold;
  /* color: orange; */
}
.footer-infos {
  display: flex;
  justify-content: space-around;
}
.footer-info-list {
  padding: 0;
}
.info-list_item a:hover {
  font-weight: bold;
  transition: all 0.3 linear;
}
.social-icons {
  padding: 0;
}
.social-icon a:hover {
  color: rgb(152, 105, 17);
}
